* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #1B2430;
    --color-2: #51557E;
    --color-3: #816797;
    --color-4: #D6D5A8;
    --color-5: orange;
    --color-6: rgb(252, 143, 161);
    --color-7: rgb(104, 104, 245);
}

body {
    font-family: Poppins;
    overflow-x: hidden;
}

nav {
    background-color: var(--color-4);
    font-family: Poppins;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 60px;
    overflow-x: none;
    position: sticky;
    top: 0;
    z-index: 11;
}

nav img {
    height: 60%;
}

nav ul {
    display: none;
    text-decoration: none;
    text-align: center;
    list-style: none;
    right: 0;
    background-color: var(--color-4);
    position: fixed;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 100%;
    top: -390px;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul a {
    color: var(--color-1);
    text-decoration: none;
}

nav button {
    background-color: transparent;
    border: none;
}

button * {
    color: white;
}

#gmbar {
    align-items: center;
}

aside h1 {
    align-items: center;
    color: var(--color-4);
    text-align: center;
    background-color: var(--color-1);
    padding: auto;
    margin: auto;
}

aside ul {
    color: white;
    font-size: 12px;
}

aside .side-1 {
    background-color: #1B2430;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-1);
}

article>* {
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

article .kata-1 {
    color: var(--color-4);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

article .kata-1 p {
    color: white;
    font-size: 12px;
}

.menu-toggle input {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -0.7px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--color-1);
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    display: none;
}

article #project {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-4);
}

#project>* {
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

#project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

#project .kata-1 {
    color: var(--color-4);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#project .kata-1 p {
    color: white;
}

#projek {
    background-color: var(--color-4);
    align-items: center;
}

.figma {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section .skill-1 * {
    font-size: 32px;
    text-align: center;
    background-color: var(--color-1);
    color: var(--color-4);
}

section .skill {
    padding: 20px 20vw  20px 20vw ;
    background-color: var(--color-1);
    text-align: center;

}

section .skill h1 {
    color: var(--color-5);
    font-size: 24px;
}

section .skill p {
    font-size: 14px;
    color: white;
    padding: 20px;
}

.lastproject {
    text-align: center;
    font-size: 16px;
    background-color: var(--color-1);
    color: var(--color-4);
}

.kata-2 h1 {
    color: var(--color-6);

}

.kata-3 h1 {
    color: var(--color-5);

}

.kata-4 h1 {
    color: var(--color-7);

}

article .kata-2 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    text-align: center;
    padding: 20px;
}

article .kata-3 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    text-align: center;
    padding: 20px;
}

article .kata-4 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    text-align: center;
    padding: 20px;
}

article p {
    font-size: 1, 8em;
    color: white;
}

footer {
    background-color: var(--color-4);
    text-align: center;
    padding: 10px;
}

#projek {
    background-color: var(--color-1);
}


@media screen and (min-width: 800px) {
    .menu-toggle {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: static;
        font-size: 1.2em;
        font-weight: 600;
    }

    #gmbar {
        display: flex;
        flex-direction: row;
        padding: 20px;
        background-color: var(--color-1);
        align-items: center;
    }

    .gmbar-top {
        padding-left: 100px;
    }

    .skill {
        display: flex;
    }

    #gmbar .kata-1 {
        padding: 20px;
        padding-left: 150px;
    }

    aside {
        float: right;
        padding-right: 100px;
    }

    #projek {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: var(--color-1);
    }

    article img {
        height: 400px;
        object-fit: cover;
        margin-bottom: 20px;
        width: auto;
    }

    article .kata-1 {
        color: var(--color-4);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    article .kata-1 p {
        color: white;
        font-size: 12px;
        text-align: justify;
    }


}

@media screen and (min-width: 999px) {}






/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #1b2430;
    font-family: Poppins;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 50px;
    padding-left: 50px;
}

nav .logo {
    padding: 10px;
}


nav ul {
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    list-style: none;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul a {
    color: #d6d5a8;
    text-decoration: none;
}

nav .contact {
    list-style: none;
    text-decoration: none;
    background-color: #816797;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
}

nav .contact a:link {
    text-decoration: none;
    color: #d6d5a8;
}

nav .contact a:visited {
    color: #d6d5a8;
}

nav ul a:hover {
    color: #816797;
}

nav .contact {
    list-style: none;
}

nav .contact a:link {
    text-decoration: none;
    color: #d6d5a8;
}

article {
    display: flex;
    justify-content: space-around;
}

.dropbtn {
    background-color: #1b2430;
    color: #d6d5a8;
    padding: 16px;
    font-family: Poppins;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b2430;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #d6d5a8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1b2430;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1b2430;
}

.dropdown .dropbtn {
    background-color: #1b2430;
    color: #d6d5a8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.lastproject {
    font-family: Poppins;
    color: #f7f596;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #444a90;
}

article .gmbar-top img {
    width: 50vw;
    height: 100%;
}

article {
    display: flex;
    align-content: center;
    justify-content: center;
}

article .kata-1 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #816797;
    width: fit-content;
}

article .kata-1 h1 {
    text-align: center;
    color: #1b2430;
    font-family: Poppins;
    font-size: 28px;
    background-color: transparent;
}

article .kata-1 p {
    font-family: Poppins;
    text-align: justify;
    color: #d6d5a8;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
}

article .kata-2 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #444a90;
    width: fit-content;
}

article .kata-3 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #444a90;
    width: fit-content;
}

article .kata-4 {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #444a90;
    width: fit-content;
}

.ft .gmbar-top {
    background-color: #444a90;
}

.nd .gmbar-top {
    background-color: #444a90;
}

.ab .gmbar-top {
    background-color: #444a90;
}

article .kata-2 h1 {
    text-align: center;
    color: rgb(246, 93, 118);
    font-family: Poppins;
    font-size: 28px;
    background-color: transparent;
}

article .kata-2 p {
    font-family: Poppins;
    text-align: justify;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
}

article .kata-3 h1 {
    text-align: center;
    color: rgb(247, 174, 36);
    font-family: Poppins;
    font-size: 28px;
    background-color: transparent;
}

article .kata-3 p {
    font-family: Poppins;
    text-align: justify;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
}

article .kata-4 h1 {
    text-align: center;
    color: #f7f596;
    font-family: Poppins;
    font-size: 28px;
    background-color: transparent;
}

article .kata-4 p {
    font-family: Poppins;
    text-align: justify;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
}

section .skill {
    font-family: Poppins;
    display: flex;
    background-color: #1b2430;
    padding: 20px;
}

section h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #f7f596;
}

section p {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;

}

footer {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #1b2430;
    font-family: Poppins;
    color: #f7f596;
    font-size: 12px;
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    nav {
        background-color: #1b2430;
        font-family: Poppins;
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    body {
        width: 100vw;
    }

    nav .logo {
        padding: 10px;
    }

    nav .logo img {
        width: 15vw;
        height: 100%;
    }

    nav ul {
        display: flex;
        text-decoration: none;
        text-align: center;
        justify-content: space-between;
        list-style: none;
    }

    nav ul a {
        color: #d6d5a8;
        text-decoration: none;
    }

    nav .contact {
        list-style: none;
        text-decoration: none;
        background-color: #816797;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        height: 100%;
    }

    nav .contact a:link {
        text-decoration: none;
        color: #d6d5a8;
    }

    nav .contact a:visited {
        color: #d6d5a8;
    }

    nav ul a:hover {
        color: #816797;
    }

    nav .contact {
        list-style: none;
    }

    nav .contact a:link {
        text-decoration: none;
        color: #d6d5a8;
    }

    article {
        display: flex;
        justify-content: space-around;
    }

    .dropbtn {
        background-color: #1b2430;
        color: #d6d5a8;
        padding: 16px;
        font-family: Poppins;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1b2430;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #d6d5a8;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #1b2430;
        color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #1b2430;
    }

    .dropdown .dropbtn {
        background-color: #1b2430;
        color: #d6d5a8;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .lastproject {
        font-family: Poppins;
        color: #f7f596;
        align-items: center;
        text-align: center;
        padding: 20px;
        background-color: #444a90;
    }

    article .gmbar-top img {
        width: 30vw;
        height: 100%;
    }


    article {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    article .kata-1 {
        padding-right: 5vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #816797;
        width: fit-content;
    }

    article .kata-1 h1 {
        text-align: center;
        color: #1b2430;
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-1 p {
        font-family: Poppins;
        text-align: justify;
        color: #d6d5a8;
        font-weight: 500;
        font-size: 12px;
        background-color: transparent;
    }

    article .kata-2 {
        padding-right: 5vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #816797;
        width: fit-content;
    }

    article .kata-3 {
        padding-right: 5vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #816797;
        width: fit-content;
    }

    article .kata-4 {
        padding-right: 5vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #816797;
        width: fit-content;
    }

    .ft .gmbar-top {
        background-color: #444a90;
    }

    .nd .gmbar-top {
        background-color: #444a90;
    }

    .ab .gmbar-top {
        background-color: #444a90;
    }

    article .kata-2 h1 {
        text-align: center;
        color: rgb(246, 93, 118);
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-2 p {
        font-family: Poppins;
        text-align: justify;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
    }

    article .kata-3 h1 {
        text-align: center;
        color: rgb(247, 174, 36);
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-3 p {
        font-family: Poppins;
        text-align: justify;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
    }

    article .kata-4 h1 {
        text-align: center;
        color: #f7f596;
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-4 p {
        font-family: Poppins;
        text-align: justify;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
    }

    section .skill {
        font-family: Poppins;
        display: flex;
        background-color: #1b2430;
    }

    section .figma h1 {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #f7f596;
    }

    section .code h1 {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #f7f596;
    }

    section .adobe h1 {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #f7f596;
    }

    section p {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }


    footer {
        padding: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #1b2430;
        font-family: Poppins;
        color: #f7f596;
        font-size: 12px;
    }
}

@media only screen and (min(max-width: 700px) {

    nav {
        background-color: #1b2430;
        font-family: Poppins;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        padding-right: 50px;
        padding-left: 50px;
    }



    nav .logo {
        padding: 10px;
    }

    nav ul {
        display: flex;
        text-decoration: none;
        text-align: center;
        justify-content: space-between;
        list-style: none;
    }

    nav li {
        margin-left: 20px;
        margin-right: 20px;
    }

    nav ul a {
        color: #d6d5a8;
        text-decoration: none;
    }

    nav .contact {
        list-style: none;
        text-decoration: none;
        background-color: #816797;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        height: 100%;
    }

    nav .contact a:link {
        text-decoration: none;
        color: #d6d5a8;
    }

    nav .contact a:visited {
        color: #d6d5a8;
    }

    nav ul a:hover {
        color: #816797;
    }

    nav .contact {
        list-style: none;
    }

    nav .contact a:link {
        text-decoration: none;
        color: #d6d5a8;
    }

    article {
        display: flex;
        justify-content: space-around;
    }

    .dropbtn {
        background-color: #1b2430;
        color: #d6d5a8;
        padding: 16px;
        font-family: Poppins;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1b2430;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #d6d5a8;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #1b2430;
        color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #1b2430;
    }

    .dropdown .dropbtn {
        background-color: #1b2430;
        color: #d6d5a8;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .lastproject {
        font-family: Poppins;
        color: #f7f596;
        align-items: center;
        text-align: center;
        padding: 20px;
        background-color: #444a90;
    }

    article .gmbar-top img {
        width: 100%;
    }

    .gmbar-top {
        background-color: black;
        width: 50vw;
    }

    article {
        background-color: black;
        width: 100vw;
        display: flex;
    }

    article {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    article .kata-1 {
        width: 50vw;
        background-color: #816797;
        font-size: 12px;
    }

    article .kata-1 h1 {
        text-align: center;
        color: #1b2430;
        font-family: Poppins;
        font-size: 1.5em;
        background-color: transparent;
    }

    article .kata-1 p {
        font-family: Poppins;
        text-align: justify;
        color: #d6d5a8;
        font-weight: 500;
        font-size: 1.1em;
        background-color: transparent;
    }

    article .kata-2 {
        padding-right: 150px;
        padding-left: 150px;
        padding-top: 200px;
        background-color: #444a90;
        width: fit-content;
    }

    article .kata-3 {
        padding-right: 150px;
        padding-left: 150px;
        padding-top: 200px;
        background-color: #444a90;
        width: fit-content;
    }

    article .kata-4 {
        padding-right: 150px;
        padding-left: 150px;
        padding-top: 200px;
        background-color: #444a90;
        width: fit-content;
    }

    .ft .gmbar-top {
        background-color: #444a90;
    }

    .nd .gmbar-top {
        background-color: #444a90;
    }

    .ab .gmbar-top {
        background-color: #444a90;
    }

    article .kata-2 h1 {
        text-align: center;
        color: rgb(246, 93, 118);
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-2 p {
        font-family: Poppins;
        text-align: justify;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
    }

    article .kata-3 h1 {
        text-align: center;
        color: rgb(247, 174, 36);
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-3 p {
        font-family: Poppins;
        text-align: justify;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
    }

    article .kata-4 h1 {
        text-align: center;
        color: #f7f596;
        font-family: Poppins;
        font-size: 28px;
        background-color: transparent;
    }

    article .kata-4 p {
        font-family: Poppins;
        text-align: justify;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
    }

    section .skill {
        font-family: Poppins;
        display: flex;
        background-color: #1b2430;
        padding: 20px;
    }

    section .figma h1 {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #f7f596;
    }

    section .code h1 {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #f7f596;
    }

    section .adobe h1 {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #f7f596;
    }

    section .figma p {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: justify;


    }

    section .code p {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: justify;

    }

    section .adobe p {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: justify;
        padding: 50px;
        padding-left: 80px;
        padding-right: 80px;
    }

    footer {
        padding: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #1b2430;
        font-family: Poppins;
        color: #f7f596;
        font-size: 12px;
    }
} */